body{
	margin:0;
padding:0;
background:url(last.png) ;
height:100vh;
font-family: 'Noto Sans KR', sans-serif;
font-size: 65px;
color: #98FD98;
text-align: center;
background-repeat:no-repeat;
background-size: cover;
background-position: center center;
}


.par h1
{
	position:absolute;
	top:7%;
	left:42%;
	color : white;
	
}
.par p
{
	left-margin:auto;
	right-margin:auto;
	position: absolute;
	top:40%;
	color : white;
	font-size:20px;
	text-align:center;
	
}